{% extends "base.html" %}

{% block content %}
	<h3>Items in Stock</h3>
	<ul>
		{% for item in items %}
			<li>
				<a href="{% url 'item_detail' item.id %}">
					{{ item.title|capfirst }}
				</a>
			</li>
			<li>
				Item Detail:  {{ item.description }}
			</li>
			<li>
				Items in Stock: {{ item.amount }}
			</li>
		{% endfor %}
	</ul>
{% endblock content %}

<!-- TEMPLATE SYNTAX
{{ variable}} 
a variables value is shown when the variable name is used inside dble curly braces
{ % tag % } -with no spaces
a template tag is enclosed in curly brackets with % and are used for loops, ifs, structural elements, and URLs for example
{ { variable | filter } } -with no spaces
variable can have a pipe charaacter after it to use as a template filter 
they take a string as input and return a sring as output
mostly used to take a string and change some formatting such as datetime formatting or plain text in some cases like a title or uppercase

{ % url 'index' % } generate path to index view result: /
{ % url "item_detail item.id % } if a url has any name groups the url requires these as additional params the 2nd tag rengers the view to the item detail for whatever id is given result: items/1/-->

